.sidenav {
  height: 100%;          
  width: 150px;          
  position: fixed;      
  background-color: black;    
}
.sidenav a {
  padding: 15px 8px 15px 16px;
  color: white;          
  display: block;        
}
.content {
  margin-left: 160px;            
} 
